
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    color: rgb(23, 19, 19);
    font-family: 'Poppins', sans-serif;    
    font-weight: 900;
    font-size: 20px;
    padding: 0 20px; 
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px ;
    background-color: #8AAAE5;
    border: 3px solid black;
}
.menu{ 
    list-style: none;
    
}
.menu .item{
    display: inline-block;
    padding:0px 30px;
}
.menu li a{
    transition: all 0.3s ease 0s;
}
.menu li a:hover{
    color: white;
}
button{
    padding: 12px 36px;
    background: linear-gradient(90deg, #755bea,#55e7fc);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;;
   
}

button:hover {
    background-color: white;
    color: black;
}

footer {
    text-align: center;    
    margin-top: 20px;
}
h1 {
    text-align: center;
    padding: 40px;
    color: black;
    font-size: 35px;
}

::-webkit-scrollbar {
    width: 5px;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width:10px;
    background: rgba(255, 255, 255, 0.05);
}

#bar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 7px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate2 5s linear infinite;
}
@keyframes animate2{
    0%,100%
    {filter: hue-rotate(0deg);
    }
    50%{filter:hue-rotate(360deg);
    }
}
#bar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#bar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
.wavy{
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
    display: flex;
    justify-content: center;
    margin:40px;
}

.wavy span{
position: relative;
display:inline-block;
color: black;
font-size: 2em;
text-transform: uppercase;
animation: animate 1s ease-in-out infinite;
animation-delay: calc(0.1s *var(--i));
}


@keyframes animate
{
    0%
    {
        transform: translateY(0px);
}
    20%
    {
        transform: translateY(20px);
}
40%,100%
    {
        transform: translateY(0px);
}
}

@media screen and (max-width: 1400px) {
    #scrollPath {
        width: 5px;
    }

    #bar {
        height: 100%;
        width: 5px; 
    }

    #bar:before,
    #bar:after {
        filter: blur(5px); 
    }
}
