

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    color: rgb(23, 19, 19);
    font-family: 'Poppins', sans-serif;    
    font-weight: 900;
    font-size: 20px;
    padding: 0 20px; 
}
body {
    background-color: #FCF6F5;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px ;
    background-color: #8AAAE5;
    border: 3px solid black;
}
.menu{ 
    list-style: none;
    
}
.menu .item{
    display: inline-block;
    padding:0px 30px;
}
.menu li a{
    transition: all 0.3s ease 0s;
}
.menu li a:hover{
    color: white;
}
button{
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
   
}

button:hover {
    background-color: white;
    color: black;
}

footer {
    text-align: center;    
    margin-top: 20px;
}

h1{
    font-size: 35px;
}
